# Ignore node_modules/ directory (for Node.js projects)
node_modules/

# Ignore all .log files
*.log

# Ignore environment files
.env

# Ignore macOS system files
.DS_Store

# Ignore build output folders
/dist
/build

# Ignore any file with the extension .tmp
*.tmp
